<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head>
        <title>New Account - Accounter</title>
        <!-- <link rel="stylesheet" href="/css/styles.css"> -->
        <!-- <link rel="icon" href="/images/accounter-logo.svg"> -->
    </head>
    
    <body>
        
        
        <div id="main-container">
            
            <form method="post" action="/newaccount" class="form">
                <p>Please enter details of the new account below</p>
                <label>Account Name:</label><br>
                <input required type="text" name="name"><br>
                <label>Initial Balance:</label><br>
                <input required type="number" name="balance"><br>
                <input type="submit" name="signup" value="Finish">
            </form>

        </div>
        <div id="container-actions">
            <a class="button" href="/">Cancel and go back</a>
            <a class="button" href="logout">Log Out</a>
            <!-- <a href="signup">Reset Account</a> -->
        </div>

        <script>
            const form = document.querySelector(".form");
            form.addEventListener('submit', event => {
                event.preventDefault();

                const formData = new FormData(form);
                const data = Object.fromEntries(formData);

                fetch('/api/v1/account/create', {
                    method: 'POST',
                    headers: {
                        'Content-Type' : 'application/json'
                    },
                    body: JSON.stringify(data)
                }).then(res => res.json)
                    .then(data => console.log(data))
                    .catch(error => console.log(error))
            });

            
        </script>

    </body>
</html>