<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head>
        <title>Accounter</title>
        <!-- <link rel="stylesheet" href="/css/styles.css"> -->
        <!-- <link rel="icon" href="/images/accounter-logo.svg"> -->
    </head>
    
    <body>
       
        
        <div id="main-container">
            

            <h1 th:text = "|Hello ${userName}|">Hello User</h1>
            <hr>
            <!-- <header th:replace="~{base :: header}"></header> -->

            <div >
                <P th:each="account: ${accounts}" th:text="|${account.name} balance is ${account.balance}|">your current balance is 50000</p>
            </div>
            
            <hr>
            <div id="container-actions">
                <a class="button" href="createaccount">New Account</a>
                <a class="button" href="changebalance">Change Balance</a>
                <a class="button" href="deleteaccount">Delete Account</a>
                <a class="button" href="addrecord">New Record</a>
                <a class="button" href="transactionlist">View Records</a>
                <a class="button" href="logout">Log Out</a>
                <!-- <a href="signup">Reset Account</a> -->
            </div>
        </div>
        <!-- <footer th:replace="~{base :: footer}"></footer> -->
    </body>
</html>