
/* accounts and transactions */
.list-item {
    height: 80px;
    width: 100%;
    border-style: solid;
    background-color: white;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: #666;
    border-width: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: black;
    text-decoration: none;
    font: inherit;
}
.list-item:hover{
    background-color: #F5F5F5;
    cursor: pointer;
}
.list-item-details{
    width: 100%;
    display: grid;
    /* grid-template-areas: "category account amount"; */
    grid-template-columns: 1fr 1fr 1fr;
}
#account-details{
    justify-content: space-between;
    width: 100%;
}

#box-create-form{
    /* margin: auto; */
    margin-right: auto;
}

.date-line{
    /* background-color: #DDD; */
    font-weight:500;
}