/* Overall */

body{
    font-family: "Inter", Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    font-size: 24px;
    /* min-width: 500px; */
}

h1,h2{
    font-weight: normal;
    /* margin-bottom: 10px; */
    /* margin: 5px; */
}

/* p{
    margin: 10px 0;
} */

hr{
    width: 100%;
    /* height: 0.1px; */
    color: #777;
    background-color: #777;
}
input,select{
    font-size: inherit;
    border-radius: 10px;
    border-style: none;
    background-color: #FFF;
    padding: 10px;
    margin: 5px;
}

.full-width{
    width: 100%;
    
}

/* boxes */

.box-fullscreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.box-horizontal{
    display: flex;
    flex-direction: row;
}

.box-vertical{
    display: flex;
    flex-direction: column;
}

.box-primary{
    align-items: center;
    background-color: #EEE;
    margin: 15px 5px;
    padding: 10px;
    border-radius: 10px; 
}

.box-secondary{
    background-color: #EEE;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cols-3{
    flex: 3;
}


/* sidebar */
.sidebar {
    flex: 1;
    min-height: 100vh;
    
}
.sidebar h1,h2{
    text-align: center;
}
.sidebar hr {
    width: 75%;    
    color: #AAA;
    margin-top: 50px;
}


/* buttons */
.btn-primary{
    font-size: inherit;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #309C91;
    color: #fff;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #206c65;
    cursor: pointer;
}
.btn-primary:active {
    background-color: black;
    cursor: pointer;
}
.btn-danger{
    font-size: inherit;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    color: white;
    background-color: red;
    text-decoration: none;
}

.btn-danger:hover {
    background-color: #880000;
    cursor: pointer;
}

.btn-form{
    margin: 5px;
    text-align: center;
}

.btn-back {
    /* position: absolute; */
    /* top: 10px;
    left: 10px; */
    
    /* justify-self: start; */
    align-self: flex-start;
    margin-right: auto;

    margin-top: 5px;
    margin-left: 5px;
    /* margin-bottom: auto;
    margin-right: auto; */
    /* position: absolute;
    top: 5px;
    left: 5px; */
}

.flex-left{
    align-items:start;
}

.flex-right{
    align-items: end;
}

.flex-space{
    justify-content: space-between;
    /* align-items:; */
}

.margin-auto{
    margin-right: auto;
    /* margin-top: 0;
    margin-bottom: 0; */
}
.fill-width{
    width: 100%;
}

/* navbar */

#navbar{
    background: #113632;
    background: linear-gradient(90deg, #113632 0%, #309C91 100%); 
    height: 60px;
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    color: #FFF;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

#nav-links {
    height: 100%;
    align-items: center;
    margin-left: 50px;
}


.nav-link {
    padding: 0 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
#nav-link-active {
    color: #113632;
    background-color: #FFF;    
}

#logo{
    color: #FFF;
    font-family: "Nova Round", system-ui;
    font-size: 36px;
    margin: 20px;
}
#logo a{
    color: inherit;
    text-decoration: none;
}

#logout {
    /* display: flex; */
    margin-right: 20px;
    margin-left: auto;
    text-decoration: none;
    color: inherit;
}


