<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Accounter - Create Account</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/account.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nova+Round&display=swap" rel="stylesheet">
    </head>
    <body>
        
        
        <div class="box-fullscreen box-secondary">
            <a class="btn-primary btn-back" th:href="|/account-details/${account.accountId}">Back</a>
            <div id="box-create-form" class="box-vertical">
                <h1>Add Account</h1>
                <form id="form-update-account" class="box-vertical" method="post">
                    <!-- <input hidden type="text" th:value="${account.accountId}" name="accountId" required><br> -->
                    <label>Account Name</label><br>
                    <input type="text" th:placeholder="${account.name}" th:value="${account.name}" name="name" required><br>
                    <label>Current Balance</label><br>
                    <input type="number" th:placeholder="${account.balance}" th:value="${account.balance}" name="balance" required><br>
                    <button id="btn-submit" class="btn-primary" th:value="${account.accountId}" name="submit" >Save</button><br>
                </form>
            </div>
        </div>
        
        <!-- <script src="/js/scripts.js" ></script> -->

        <script src="/js/form_handler.js" ></script>
        <script src="/js/account/update_account.js"></script>
        
    </body>
</html>