<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head>
        <title>Accounter</title>
        <!-- <link rel="stylesheet" href="/css/styles.css"> -->
        <!-- <link rel="icon" href="/images/accounter-logo.svg"> -->
    </head>
    
    <body>
        
        
        <div>
            <!-- <header th:replace="~{base :: header}"></header> -->
            
            <div id="main-container">
                
                <form class="form" id="form-newrecord" method="post">
                    <p>Please Select the account:</p>
                    <select name="accountname">
                        <option  th:each="account: ${accounts}" th:text="${account.accountName}" th:value="${account.accountName}">Account1</option>
                        <!-- <option value="Account1" th:text="${account.accountName}">Account1</option> -->
                        <!-- <option value="Account1">Account2</option>
                        <option value="Account1">Account3</option> -->
                    </select>
                    <p>Please Enter the amount:</p>
                    <input type="text" name="amount" required><br>
                    
                    <div id="container-types">
                        <label class="radio"><input required class="type" type="radio" name="type" value="Expense">Expense</label> 
                        <label class="radio"><input required class="type" type="radio" name="type" value="Income">Income</label>
                    </div>
                    
                    
                    <input type="submit" name="submit" value="submit" >
                </form>
            </div>
        </div>

    </body>
</html>