<html>
    <head th:replace="~{base :: head}"></head>
    
    <body>
        
        
        <div>
            <header th:replace="~{base :: header}"></header>
            
            <div id="main-container">
                
                <form class="form" id="form-newrecord" method="get">
                    <p>Please Enter the amount:</p>
                    <input type="text" name="amount" required><br>
                    <div id="container-types">
                        <label class="radio"><input required class="type" type="radio" name="type" value="expense">expense</label> 
                        <label class="radio"><input required class="type" type="radio" name="type" value="income">income</label>
                    </div>
                    
                    <input type="submit" name="submit" value="submit" >
                </form>
            </div>
        </div>

    </body>
</html>