<html>
    <head th:replace="~{base :: head}"></head>
    
    <body>
        
        
        <div id="main-container">
            <!-- <header th:replace="~{base :: header}"></header> -->
            
            <form class="form" method="post" action="/signup">
                <p>Please enter your details below</p>
                <label>Username:</label><br>
                <input required type="text" name="username">
                <label>Email:</label><br>
                <input required type="email" name="email">
                <label>Password:</label><br>
                <input required type="text" name="password">
                <input type="submit" name="signup" value="Sign Up">
            </form>

        </div>

    </body>
</html>