<html>
    <head th:replace="~{base :: head}"></head>
    
    <body>
        
        
        <div id="main-container">
            <header th:replace="~{base :: header}"></header>
            <h2>Transaction History</h2>
            <hr>
            <form action="transactionlist" method="get">
                <p>Please select an account(s)</p>
                <!-- <label th:each="account: ${accounts}" th:text="${account.accountName} ">Account1 -->
                <span th:each="account: ${accounts}">
                    <label th:text="${account.accountName}"></label>
                    <input type="checkbox" checked th:field="*{data.selections}" th:value="${account.accountName}"  >
                </span>
                
                <!-- </label> -->
                <!-- <br><label>Account2
                    <input required type="checkbox" name="accountname" value="Account2">
                </label> -->
                <!-- <label>Account3</label><input required type="checkbox" name="accountname" value="Account3"> -->
                <input type="submit" name="filter" value="Apply Filter">
            </form>
            <hr>
            <table>
                <tr>
                    <th>Account</th>
                    <th>Record Type</th>
                    <th>Amount</th>
                    <th>Running balance</th>
                </tr>
                <tr th:each="transaction: ${transactions}">
                    <td th:text="${transaction.accountName}">Account</td>
                    <td th:text="${transaction.type}">expense</td>
                    <td th:text="${transaction.amount}">1000</td>
                    <td th:text="${transaction.balance}">5000</td>
                </tr>
                
            </table>
        </div>

    </body>
</html>